*{ box-sizing: border-box; }

.scene{

  width: 300px;
  height: 100px;
  margin: 60px auto;
  perspective: 800px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.scene:hover .cube{

  transform: rotateX(90deg);
}

.cube{
  position: relative;
  width: 300px;
  height: 100px;
  margin: 30px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: 0.4s all;
}
.front{

  position: absolute;
  width: 60%;
  height: 100%;
  background: #D08671;
  background: -webkit-linear-gradient(top, #c91832 0%, #f5bd06 100%);
  text-align: center;
  color: #fff;
  font-size: 29px;
  padding-top: 35px;
  letter-spacing: 4px;
  transform: rotateX(0deg) translate3d(0px,0px,50px);
  top: -40px;
  left: 30px;
}

.bottom{
  position: absolute;
  width: 60%;
  height: 100%;
  background: #81CBD5;
  background: -webkit-linear-gradient(top, orange 0%, yellow 100%); 
  text-align: center;
  color: #fff;
  font-size: 29px;
  padding-top: 35px;
  letter-spacing: 4px;
  transform: rotateX(-90deg) translate3d(0px,0px,50px);
  top: -40px;
  left: 30px;
}
img{
    border-radius: 25px;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    
}
img:hover {
    transform: scale(1.1, 1.1);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-Size: 15px;
    background-image: url("../images/backgound.JPG");
    height: 100%;
}

.wrapper {
    height: 100%;
    background-image: url(../images/tiny-squares.png);
    border-radius: 10px;
    padding-top: 50px;
}

.search-wrapper {
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: left;
    border: 1px solid #cecece;
    padding: 8px;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.container {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 50px;
}

#title {
    Font-Size: 38px;
    padding: 0 0 16px 0;
    margin: 30px 0 0 0;
    display: inline-block;
    color: #fff;
    width: 100%;
}

#title a, #title a:visited {
    color:#fff;
}

#title a:hover {
    color: yellow;
    text-decoration: none;
}


#run-search {
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #0a655b;
    color: #fff;
    font-weight: bolder;
    padding: 8px 12px;
    margin-left: 5px;
}

#run-search:hover {
    color: #0a655b;
}

.page-header {
    /* background-color:#3f3d64; */
    background-color: #000;
    color: #fff;
    padding-top: 12px;
    margin-bottom: 4px;
    border-bottom: 8px solid #333;
    border-top: 14px solid #333;
}

#search {
    text-align: right;
}

label {
    margin-bottom: 8px;
    color: #333;
}

.topic-image {
    /* width: 40%; */
    /* max-width: 40%; */
    /* float: left; */
    text-align: center;
    margin-bottom: 20px;
}

.meta {
    margin: 4px 0;
}

#tags {

    padding-bottom: 4px;

}

form {
    margin-bottom: 4px;
    margin-top: 6px;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}

#show {
    width: 300px;
    float: right;
    text-align: right;
    margin: 34px 0 0;
}

#add {
    background: #3f3d64;
    color: #fff;
    font-weight: bold;
}

.jumbotron {
    background: #0a655b;
    color: #fff;    
    margin-bottom: 0;
    margin-top: 123px;
}

footer {
    width: 100%;
    background: #666;
    padding: 10px;
    margin-top: 40px;
    color:#fff;
    line-height: 1.3em;
    text-align: center;

}

footer a, footer a:visited {
    color:#fff;
    text-decoration: none;
}

footer a:hover {
    color:#fff;
    text-decoration: underline;
}

strong {
    font-weight: bold;
    font-size: -webkit-xxx-large;
}

p {
    line-height: 1.4em;
    font-size: 1.15em;
}

.white {
    color:#fff;
}

.wrap {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background: #fff;
    margin-bottom: 80px;
    padding-bottom: 60px;
}

#results-div {
    margin: 20px 0;
    padding: 10px 0 20px 10px;
    font-size: 1.4em;
    border-bottom: 1px solid #ccc;
}


.data-heading-col {
    font-weight: bold;
    width: 40%;
    text-align: right;
    padding: 4px 10px;
}

.data-col {
    min-width: 60%;  
    width: 60%;
    max-width: 60%; 
    padding: 4px 10px;
    line-height: 1.3em; 
}

td {
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
}

tr {
    width: 100%;
}
/* This is the title animation */
.stage {
    height: 300px;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: -160px;
    perspective: 9999px;
    transform-style: preserve-3d;
  }
  
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(40deg) rotateX(33deg) translateZ(0);
  }
  /*FoodData Central API*/
  .layer:after {
    font: 150px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    content: 'Food-Data\A   Central!';
    white-space: pre;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50px;
    color: whitesmoke;
    letter-spacing: -2px;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  }
  
  .layer:nth-child(1):after {
    transform: translateZ(0px);
  }
  
  .layer:nth-child(2):after {
    transform: translateZ(-1.5px);
  }
  
  .layer:nth-child(3):after {
    transform: translateZ(-3px);
  }
  
  .layer:nth-child(4):after {
    transform: translateZ(-4.5px);
  }
  
  .layer:nth-child(5):after {
    transform: translateZ(-6px);
  }
  
  .layer:nth-child(6):after {
    transform: translateZ(-7.5px);
  }
  
  .layer:nth-child(7):after {
    transform: translateZ(-9px);
  }
  
  .layer:nth-child(8):after {
    transform: translateZ(-10.5px);
  }
  
  .layer:nth-child(9):after {
    transform: translateZ(-12px);
  }
  
  .layer:nth-child(10):after {
    transform: translateZ(-13.5px);
  }
  
  .layer:nth-child(11):after {
    transform: translateZ(-15px);
  }
  
  .layer:nth-child(12):after {
    transform: translateZ(-16.5px);
  }
  
  .layer:nth-child(13):after {
    transform: translateZ(-18px);
  }
  
  .layer:nth-child(14):after {
    transform: translateZ(-19.5px);
  }
  
  .layer:nth-child(15):after {
    transform: translateZ(-21px);
  }
  
  .layer:nth-child(16):after {
    transform: translateZ(-22.5px);
  }
  
  .layer:nth-child(17):after {
    transform: translateZ(-24px);
  }
  
  .layer:nth-child(18):after {
    transform: translateZ(-25.5px);
  }
  
  .layer:nth-child(19):after {
    transform: translateZ(-27px);
  }
  
  .layer:nth-child(20):after {
    transform: translateZ(-28.5px);
  }
  
  .layer:nth-child(n+10):after {
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
  }
 
  .layer:nth-child(n+11):after {
    -webkit-text-stroke: 15px #0a655b;
    text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
  }
 
  .layer:nth-child(n+12):after {
    -webkit-text-stroke: 15px #0a655b;
  }
  
  .layer:last-child:after {
    -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
  }
  
  .layer:first-child:after {
    color: #fff;
    text-shadow: none;
  }
  
  @keyframes ಠ_ಠ {
    100% {
      transform: rotateY(-40deg) rotateX(-43deg);
    }
  }

  /*Media Queris for Ipad resolutions?*/





  /* DETAIL PAGE STYLES */

  .nutrition-wrapper {
    background: #fff;
    margin-top: 200px;
    border: 15px solid #60a506;
    border-radius: 25px;
    padding: 20px;
  }

  .food-detail-image {
    width: 100%;
    height: 100%;
  }

  #food-photo {
    float: left;
  }

  #food-photo img {
    margin-top: 0;
  }

  #nutrition-view {
    float: right;
  }

  #food-title h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  #label-wrapper {
    background: #fff;
    border: 1px solid #000;
}

.label-wrapper {
  border-bottom: 5px solid #000;    
  border-top: 5px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 15px 30px;
  height: 100%;
  border-radius: 25px;
}

.label-header {
  font-size: 2em;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: 1px solid #000;
  text-align: center;
  margin-bottom: 20px;
}

#measures {
  margin: 14px 0;
  text-align: center;
}

tr:nth-child(even) {background:#FFF}
tr:nth-child(odd) {background: #ececec}

.back {
  width: 30%;
  text-align: center;
  /* border: 1px solid red; */
  display: block;
  margin: 40px auto 30px;
  font-size: 1.6em;
  padding: 20px 30px;
  border-radius: 25px;
  border: 6px solid #365311;
  background: #60a506;
}

a.back, a.back:visited {
  color: #fff;
}

a.back:hover {
  background: #80b934;
  text-decoration: none;
  border: 6px solid #365311;
}

#nutrition-view img {
  height: 100%;
}

#gifs-appear-here {
  padding: 0;
  margin: 0;
}

#gifs-appear-here .wrap {
  margin: 0;
  padding: 0;
}

#gifs-appear-here img {
  margin: 0;
  height: auto;
}

#gifs-appear-here .topic-image {
  margin-bottom: 0;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 8px;
}

#gifs-appear-here img:hover {
  transform: none;
}

.nutrition-wrapper .col-6 {
  /* border: 1px solid red; */
}

img#plateThing {
  height: auto;
}